<div class="sharing">
   <hr>
   <p>If you enjoyed this post, please consider sharing it on facebook or twitter below.</p>
  {% if site.twitter_tweet_button %}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
   <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
  {% endif %}
  
    <hr>
  <p>I'd love to meet you on twitter or facebook here </p>
  <div class="fb-follow" data-href="http://www.facebook.com/chethan88" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>

<a href="https://twitter.com/iamchetank" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @iamchetank</a>
<p>OR Just say 'hi' @ omegachetan@gmail.com, I will be adding you to my mailing update list too </p>
</div>
