<div class="container">
    <div class="row">
        <div class="logo col-xl-3 col-md-6">
          <figure>
            <span class="logo-sm"><img class="hide-md" src="/images/logo.gif" alt="The Currency Cloud"></span>
          </figure>
        </div>
        <div class="col-xl-9 col-md-6">
            <nav class="main-nav pull-right">
    <a href="#" class="hide-xl show-md menu">Menu</a>
    <ul class="pull-left hide-md">
      <li class="hide-xl show-md"><a class="close" href="#">Close</a></li>
      <li class="seperator hide-xl show-md"></li>
       <li><a href="{{ root_url }}/">Blog</a></li>
        <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
      <li class="popup-menu technology">
        <a href="#">test link</a>
        <ul>
          <li><a href="#">l1</a></li>
          <li><a href="#">l2</a></li>
        </ul>
      </li>
   
    </ul>
    <a href="#" class="toggle-search">
    Search
</a>
<div class="search">
    <div class="container">
        <form action="/search" method="get">
            <label for="q">Search</label>
            <input type="text" placeholder="Start Searching...">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
</nav>
        </div>
    </div>
  </div>